.selector-for-some-widget {
  box-sizing: content-box;
}

body {
  padding: 0;
  margin: 0;
}

/* header {
  font-family: fantasy;
  font-size: 3vw;
  color: white;
  text-align: center;
  background-color: tomato;
  padding: 10px;
} */

header {
  background-color: tomato;
  color: white;
  padding: 20;
  text-align: center;
  position: static;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

header h1 {
  color: white;
  display: inline-block;
}

nav {
  position: fixed;
}

ul {
  list-style-type: none;
}

li {
  float: left;
  font-family: verdana;
  font-size: 1.5vw;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1em;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

div {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-gap: none;
  grid-auto-rows: minmax(100px, auto);
  background-color: #f3f4f9; 
}

.float-md-left {
  padding: 10px 15px;
  border: 5px solid tomato;
  background-color: #f3f4f9;
  color: black;
  overflow: hidden;
}

.main-article {
  background-color: lightblue;
  color: black;
  padding: 10px;
  font-family: verdana;
  padding: 20px;
  overflow: hidden;
  z-index: 1;
}

aside {
  border: 5px solid tomato;
  color: black;
  background-color: #f3f4f9;
  padding: 10px 15px;
  overflow: hidden;
}
